.canvas-container {
width:400px;
border:1px solid black;
}

.drawing-canvas {
    position: absolute;
}

.canvas {
    display: inline;
    /* border: 1px solid black; */
}

img {
    height: 200px;
}