.canvas-container {
    position: relative;
    width: 410px;
    display: inline-block;
}

.drawing-canvas {
    position: absolute;
}

.canvas {
    display: inline;
    border: 1px solid black;
}

img {
    height: 200px;
}