.canvas-container{
    position: relative;
width: 410px;
display:inline-block;
background: orange;
}
.drawing-canvas{
    position: absolute;
}
.canvas{
    display: inline;
    border: 1px solid black;
}
.hidden {
    display: none;
}
img{
    height: 200px;
}