.img-picker-container {
    min-height: 220px;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x:hidden;
    width: 83px;
}

.img-picker-container img {
    height: 65px;
    width: 65px;
}
