.color-picker-container{
    z-index:100;
    background-color: #EEE;
    position: relative;  
    left:-200px;
    top:24px;
}
.color-picker-wrapper{
    display: inline-block;
    position: absolute;
}