.App{
flex-wrap: wrap;
display: flex;
}
html{
	background:#748aad;
	height: 100%;
}
body,.App,#root{
    min-height: 100%;
}
.hidden {
    display: none;
}
.rounded{
    border-radius: 50%
}
.button-default {
	border-radius:.30rem;
    color: #fff;
    background-color: #007bff;
	border-color: #007bff;
	transition: background-color 0.3s ease-in-out,border-color .3s ease-in-out;
}
.button-default:hover {
	text-decoration: none;
	color: #fff;
	background-color: #0069d9;
	border-color: #0062cc;
}
.button-default:active {
	position:relative;
	top:1px;
}
.instruction-text{
	/* width:100%; */
}